.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.goback {
    border: 1px solid var(--cl-black);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

.goback:hover {
    background-color: var(--cl-main);
    color: var(--cl-white);
    border-color: var(--cl-main);
}

.variable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.variableDescription p:not(:first-of-type) {
    margin: 5px 0;
}

.variableDescription ul {
    margin: 10px 0;
    padding-left: 15px;
}

.variableWrapper {
    display: flex;
    gap: 10px;
}

.variableKey {
    font-weight: 600;
}

.variableValue {
    font-size: 16px;
    font-weight: 400;
}

.variableWrapper:has(.variableDescription) {
    flex-direction: column;
}
